img{
      width: 90vw;
      height: 90vh;
      margin-left: 50px;
      padding: 20px;
      /* border: 2px solid red; */
      box-sizing: border-box;
}

div{
     box-sizing: border-box;
     /* border: 2px solid red; */
     padding-left: 50px;
     margin-right: 50px;
     margin-bottom: 20px;
     padding-right: 220px;
     padding-bottom: 0px;
     font-size: 5vmax;
     font-weight: bolder;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span{
     /* border: 2px solid red; */
     font-weight: bold;
     color: blue;
     font-size: 3vmax;
     margin-left: 40px;
     padding: 10px;
}

#abc{
     /* border: 1px white; */
     color: black;
     padding: 10px;
     border-radius: 2vw;
     background-color: aqua;
}